@charset "utf-8";

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Helvetica";
}

.logo{
    width: 10%;
    margin-left: 3%;
    cursor: pointer;
}

#usuarioInfo{
    display: block;
    min-width: 7%;
    max-width: 7%;
    position: relative;
    float: right;
    margin: 30px 50px 0 0;
}

#usuarioLink {
    display: block;
    min-width: 10%;
    max-width: 10%;
    position: relative;
    float: right;
    margin: 30px 50px 0 0;
}

#usuarioLink .chatLink {
    width: 49%;
    padding: 2%;
    margin: 2%;
    font-size: 2em;
    min-height: 40px;
    min-width: 150px;
    border: 1px solid darkgreen;
}

#usuarioLink .logout{
    width: 49%;
    margin: 2%;
    padding: 2%;
    font-size: 2em;
    min-height: 40px;
    min-width: 150px;
    border: 1px solid darkgreen;
}

#fotoPerfil{
    display: block;
    width: 100%;
    margin: 0 auto 0 auto;
    border-radius: 10px;
}

a.usuario{
    width: 100%;
    display: inline-block;
    cursor: pointer;
    background-color: darkgreen;
    color: aliceblue;
    font-size: 1em;
    -webkit-border-radius: 5px;
    text-decoration: none;
    text-align: center;
}

a.usuario:hover{
    background-color: #b3d594;
    color: darkgreen;
    transition: 0.3s;
    border: 1px solid darkgreen;
}


.amenu{
    display: block;
    cursor: pointer;
    color: white;
    text-decoration: none;
}

body{
    margin: auto;
    width: 100%;
    background-color: #fff;
    font-size: 1em;
}

#containerGeral{
    margin: 1% auto 1% auto;
    width: 90%;
    -webkit-border-radius: 10px;
}

header{
    display: block;
    position: relative;
    background-color: #b3d594;
}

a.cabecalho-item{
    display: block;
    position: relative;
    float: right;
    cursor: pointer;
    background-color: darkgreen;
    color: aliceblue;
    font-size: 1em;
    padding: 10px 2% 10px 2%;
    -webkit-border-radius: 5px;
    margin: 70px 50px 0 0;
    text-decoration: none;
}

a.cabecalho-item:hover{
    background-color: #b3d594;
    color: darkgreen;
    transition: 0.3s;
    border: 1px solid darkgreen;
}

nav{
    display: block;
    text-align: center;
    background-color: darkgreen;
    border-bottom: 2px solid darkgreen;
    color: aliceblue;
}

ul.menu-container{
    display: block;
    list-style: none;
    margin: auto;
}

.menu-item{
    font-size: 2em;
    display: inline-block;
    margin: auto;
    min-height: 40px;
    min-width: 150px;
    padding: 1%;
    cursor: pointer;
}

.menu-item:hover, .menu-item:active{
    background-color: #b3d594;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    transition: 0.3s;
}

.amenu:hover {
    color: darkgreen;
}


/*RODAPE*/

footer{
    clear: both;
    display: block;
    width: 100%;
    background-color: #D6DEE8;
    text-align: center;
}

footer a{
    display: inline-block;
}

footer img{
    width: 40%;
}

.blocosRodape{
    display: block;
    width: 100%;
    padding: 0 0 1% 0;
}

#rodapeRedesSociais{
    display: inline-block;
    width: 30%;
}

#rodapeContato{
    display: inline-block;
    width: 30%;
}

#rodapeContato img{
	width: 80%;
}

#rodapeDesenvolvedores{
    display: inline-block;
    width: 30%;
    font-size: 1.1em;
}

#rodapeLegendas{
    display: block;
    width: 100%;
    padding: 2% 0 0 0 ;
    font-size: 1.2em;
}

#rodapeLegendas label{
    display: inline-block;
    width: 30%;
    margin: 0;
}


/*ESTILOS DOS INPUTS*/

input:hover{
    background-color: #e0edf0;
}

input:focus{
    outline: none;
}

select:hover{
    background-color: #e0edf0;
}

select:focus{
    outline: none;
}

textarea:hover{
    background-color: #e0edf0;
}

textarea:focus{
    outline: none;
}









