@charset "utf-8";

#containerChat{
    width: 80%;
    margin: 2% auto 0 auto;
}

img{
    border-radius: 10px;
}

.quadros{
    display: inline-block;
}

#adotante{
    width: 30%;
    float: left;
}

#chat{
    width: 48%;
    min-height: 700px;
    border: 1px solid #000;
    margin: 1%;
}

#doador{
    width: 20%;
    float: right;
}

textarea{
    width: 100%;
    height: 100px;
    resize: none;
    text-align: left;
    -webkit-border-radius: 5px;
}
